img {
    display: block;
    width: 40%;
    margin: auto;
    outline: inset;

}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    outline: double;
    width: 25%;
    margin: auto;
    margin-top: 3%;
}

p {
text-align: center;
outline: thin;

}

ul li {
    border: outset;
    display: inline-block;
}

ul {
    border: 5px double;
    margin: auto;
    width:25%;
    text-align: center;
    list-style: none;
    padding-left: 0%;
    margin-bottom: 3%;
}

.Pic2 {
    display: inline-block;
    width: 49%;
    margin: 0%;
    height: 400px;
}

.Pic1 {
    display: inline-block;
    width: 49%;
    margin: 0%;
    height: 400px;
}

dd {
    text-decoration: bold;
}

.List-1 {
    display: inline-block;
    width: 50%
    ;
}

.List-2 {
    display: inline-block;
    
}